<!DOCTYPE HTML>
<html lang="en">
<head>
{% block head %}
  <meta charset="UTF-8">
<title>Comic Cloud: Your Comics in the Cloud!</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
<script src="/static/js/jquery-1.7.2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock %}
</head>
<body>

{% include 'navbar.html' %}

{% block messages %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-info">
    {{ message }}
  </div>
{% endfor %}

{% endblock %}

{% block body %}
{% endblock %}
</body>
</html>
