{% extends "base.html" %}
{% block head %}
{{ super() }}
<link href="/static/css/exposure.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery.exposure.min.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}


{% block body %}
<!--Slides-->
<a href="/">Home</a>
<ul id="images">
  {% for image in images %}
    <li><a href='http://s3.amazonaws.com/comics.comic-cloud.com/{{ image }}' width="750px"></a></li>
  {% endfor %}
</ul>

<div id="exposure"></div>
<div class="clear"></div>
<div id="controls"></div>
<div class="clear"></div>

<script type="text/javascript">
	    $(function(){
	    $('#images').exposure(
	        {controlsTarget : '#controls',
	         keyboardNavigation : false,
                 enableSlideshow : false,
	         loop : false,
	         showThumbs : false,
                 onInit : function() {
                     this.goToPage({{ page }});
                 },
	         onImage : function(image, imageData, thumb) {
	             $('.exposureWrapper > .exposureLastImage').stop().fadeOut(500, function() {
	                 $(this).remove();
	             });
               	    image.hide().stop().fadeIn(1000);

	            $( 'html, body' ).animate( { scrollTop: 0 }, 0 );
	         },
                 onNext : function() {
                     $.getJSON($SCRIPT_ROOT + '/bookmark', {
                         page: this.currentPageNumber(),
                         comic_id: '{{ comic_id }}',
                     });
                 }
	    });
            });
</script>
{% endblock %}
