<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>Comic Cloud: Your Comics in the Cloud!</title>
<link href="/static/css/base.css" rel="stylesheet" type="text/css">
<link href="/static/css/layout.css" rel="stylesheet" type="text/css">
<link href="/static/css/skeleton.css" rel="stylesheet" type="text/css">
<link href="/static/css/demo_table.css" rel="stylesheet" type="text/css">
<link href="/static/css/themes/libnotify.css" id="theme" rel="stylesheet" type="text/css">
<script src="/static/js/jquery-1.7.1.min.js"></script>
<script src="/static/js/humane.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#comics').dataTable( {
                "bProcessing":true,
                "bAutoWidth":false,
        "aoColumns": [
            { "sType": "html",
                          "sWidth": "400px"},
                        { "sWidth": "75px"},
                        { "sWidth": "100px"},
                        { "sWidth": "50px"}
        ],
                "bStateSave": true
    });
});
</script>
</head>
<body>
{% for message in get_flashed_messages() %}
    <script>
        humane.log("{{ message }}");
    </script>
    <div class="flash">{{ message }}</div>
{% endfor %}
<div class="container">
    <div id="header">
        <h1>CloudComic</h1>
        <h3>Your DRM-free Comics Anytime, Anywhere</h3>
    </div>
    <div id="sidebar">
        <ul>
            {% if current_user.is_authenticated %}
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            {% endif %}
      </ul>
    </div>
    <div id="content">
        <div id="comiclist">
            <table id="comics" class="display">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Collection</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for comic in comics_list %}
                    <tr>
                        <td {% if comic.read %} class="alt" {% endif %}>
                            <a href="/comic/{{ comic._id }}">{{ comic.title }}</a>
                        </td>
                        <td>{{ comic.collection }}</td>
                        {% if comic.read %}
                        <td><a href="/markstatus/{{ comic._id }}">Mark Unread</a></td>
                        {% else %}
                        <td><a href="/markstatus/{{ comic._id }}">Mark Read</a></td>
                        {% endif %}
                        <td><a href="/comic/{{ comic._id }}">Edit</a></td>
                   </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
